.red{
    color: rgb(216, 82, 82);
    background-color: rgb(98, 207, 116);
}
#Poki{
    color: beige;
    background-color: aqua;
}
#Daksh{ color: blueviolet;
    background-color: rgb(152, 152, 199);
}
/*#IS USE FOR ID AND . IS USE FOR CLASS/*